<!doctype html>
<html lang="fr">
<head>
  {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    {% block lib_css %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block css %}{% endblock %}

    {% block lib_js %}{% endblock %}
    <script src="{{ url_for('static', filename = 'js/base.js') }}" defer></script>
    {% block js %}{% endblock %}

    <script type="text/javascript">
        var api_url = "{{api_url}}";
    </script>

  {% endblock %}
</head>


<body data-override="false">

  <header>
    <nav>
      <ul>
        <li><a href="{{ url_for('liste') }}">Liste des articles</a></li>
        <li><a href="{{ url_for('writer.oai') }}">Gérer les urls pour OAI-PMH</a></li>
      </ul>

      <ul>
          {% if g.user %}
            <li>Utilisateur : <span>{{ g.user['username'] }}</span>
            <li><a href="{{ url_for('auth.logout') }}">Se déconnecter</a>
          {% else %}
            <li><a href="{{ url_for('auth.login') }}">Se connecter</a>
          {% endif %}
      </ul>

    </nav>
    <div id="flashes-container">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}
    </div>
  </header>

  <main>
    <div id="content">{% block content %}{% endblock %}</div>
  </main>

  <footer>
    {% block footer %}{% endblock %}
  </footer>
</body>
</html>