{% extends "base.html" %}

{% block js %}
    <script src="{{ url_for('static', filename = 'js/credentials.js') }}" defer></script>
    <script src="{{ url_for('static', filename = 'js/create.js') }}" defer></script>
{% endblock %}

{% block title %}Create{% endblock %}

{% block content %}

    <div class="col_container" id="create">

        <div class="col">

            <form method="post" enctype="multipart/form-data">

                <label>Titre :</label>
                <input type="text" name="title" autocomplete="off" required/>
                
                <label>Opérateur :</label>
                <input type="text" name="operator" autocomplete="off"/>

                <label>ID Omeka :</label>
                <input type="text" name="o_id" autocomplete="off"/>

                <input type="file" name="file" autocomplete="off">
                
                <input type="submit" value="submit" />
            </form>
        </div>

        <div>
            <details>
                <summary>Articles de la base Problemata</summary>
                <div class="api_list" id="articles_list"></div>
            </details>
        </div>

    </div>

{% endblock %}