{% extends "base.html" %}

{% block title %}Delete{% endblock %}

{% block content %}

    <form method="post">
        <p>Supprimer l'item : <strong>{{ id }}</strong> ?</p>
        <input type="submit" name="submit" value="Valider">
        <p><a href="{{ url_for('liste') }}"><span class="cancel">Annuler</span></a></p>
    </form>

{% endblock %}