{% extends "base.html" %}

{% block title %}View{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detail.css') }}">
{% endblock %}

{% block content %}
    
    {{ item.title|safe }}

    <ul class="header">
        {% if item.operator: %}<li>Opérateur : {{ item.operator }}</li>{% endif %}
        {% if item.o_id: %}<li>Omeka ID : {{ item.o_id }}</li>{% endif %}
        <li>date de création : {{ item.created.strftime('%Y.%m.%d %Hh%M') }}</li>
        <li>date de modification : {{ item.modified.strftime('%Y.%m.%d %Hh%M') }}</li>
        <li><a href="{{ url_for('writer.edit', item_id=item.id) }}">Éditer</a></li>
    </ul>

    <div class="col_container">

        <div id="fig_table">
            {{ item.fig|safe }}
        </div>
        
        <div>
            <div id="article-title">
                    {{ item.txttitle|safe }}
            </div>

            <hr>
            
            <article>
                {{ item.txt|safe }}
            </article>
        </div>

    </div>

{% endblock %}