{% extends "base.html" %}

{% block title %}Edit{% endblock %}

{% block lib_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/EasyMDE/easymde.min.css') }}">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename = 'js/credentials.js') }}" defer></script>
    <script src="{{ url_for('static', filename = 'js/edit.js') }}" defer></script>
{% endblock %}
{% block lib_js %}
    <script src="{{ url_for('static', filename = 'lib/EasyMDE/easymde.min.js') }}" defer></script>
{% endblock %}

{% block content %}

    <div class="col_container" id="edit">

        <div class="col">

            <form method="post">

                <div id="info">
                    <label>Titre</label>
                    <input type="text" name="title" value="{{item.title}}" autocomplete="off"/>

                    <label>Opérateur</label>
                    <input type="text" name="operator" value="{{item.operator}}" autocomplete="off"/>

                    <label>ID Omeka</label>
                    <input type="text" name="o_id" value="{{item.o_id}}" autocomplete="off"/>

                    <input type="submit" value="Sauvegarder" />
                </div>

                <div class="col-left" id="table-of-figures">
                    <h3>Table des figures <span class="button col-handler col-handler-minus"></span><span class="button col-handler col-handler-plus"></span></h3>
                    <textarea name="fig" autocomplete='off'>{{ item.fig }}</textarea>
                </div>
                <div class="col-right" id="article">
                    <div id="article-title">
                        <h3>Titre de l'article<span class="button col-handler col-handler-plus"></span><span class="button col-handler col-handler-minus"></span></h3>
                        <textarea name="txt-title" autocomplete='off'>{{ item.txttitle }}</textarea>
                    </div>
                    <div id="article">
                        <h3>Article <span class="button col-handler col-handler-plus"></span><span class="button col-handler col-handler-minus"></span></h3>
                        <textarea name="txt" autocomplete='off'>{{ item.txt }}</textarea>
                    </div>
                </div>

            </form>

        </div>

        <div class="col" id="volet">
            <h3>Ressources de la base<span class="button col-handler col-handler-minus"></span><span class="button col-handler col-handler-plus"></span></h3>
            <!-- <details>
                <summary>Table des matières dynamique</summary>
                <div class="" id="toc-list">
                    <ul></ul>
                </div>
            </details> -->
            <details>
                <summary>Table des figures automatiques</summary>
                <div class="" id="pseudocode_list"></div>
            </details>

            <details>
                <summary>Ressources liées à cet article (dcterms:relation)</summary>
                <div class="api_list" id="article_resources_list"></div>
            </details>

            <details>
                <summary>Toutes les ressources de la base Problemata</summary>
                <div class="api_list" id="omeka_resources_list"></div>
            </details>
        </div>
        

    </div>

{% endblock %}

{% block footer %}
    <div class="row" id="metadata">
        <ul>
            <li><span>date de création</span> {{ item.created.strftime('%Y.%m.%d %Hh%M') }}</li>
            <li><span>date de modification</span> {{ item.modified.strftime('%Y.%m.%d %Hh%M') }}</li>
            <li><a href="{{ url_for('writer.detail', item_id=item.id) }}">Voir</a></li>
        </ul>
    </div>
{% endblock %}