{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/liste.css') }}">
{% endblock %}

{% block content %}
        
        <p><a href="{{ url_for('writer.create') }}">Ajouter un objet</a></p>

    {% if items|length < 1: %}
        <p>Pas d'articles</p>
    {% else: %}
        <ul class="list">
        {% for item in items: %}
            <li class="item">
                <ul>
                    <li><strong>{{ item.title }}</strong></li>
                    {% if item.operator: %}<li><span>Opérateur</span> {{ item.operator }}</li>{% endif %}
                    {% if item.o_id: %}<li><span>Omeka ID</span> {{ item.o_id }}</li>{% endif %}
                    <li><span>date de création</span> {{ item.created.strftime('%Y.%m.%d %Hh%M') }}</li>
                    <li><span>date de modification</span> {{ item.modified.strftime('%Y.%m.%d %Hh%M') }}</li>
                    <li class="links">
                        <ul class="inline">
                            <li><a href="{{ url_for('writer.detail', item_id=item.id) }}">Voir</a></li>
                            <li><a href="{{ url_for('writer.edit', item_id=item.id) }}">Éditer</a></li>
                            <li><a href="{{ url_for('writer.delete', item_id=item.id) }}">Supprimer</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}