{% extends "base.html" %}

{% block title %}OAI Index{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/oai.css') }}">
{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename = 'js/credentials.js') }}" defer></script>
    <script src="{{ url_for('static', filename = 'js/oai.js') }}" defer></script>
{% endblock %}

{% block content %}
    <!-- <p>Template oai.html<p> -->
    <div id="header">
        <div>
            <div id="buttons_get" class="btn-wrapper">
                <!-- <button resource_class_label="Line"><span class="color-populated">(experimental)</span> GET Lines</button> -->
                <button resource_class_label="Text">GET Articles</button>
                <button resource_class_label="Agent">GET Authors</button>
                <button resource_class_label="Document">GET Resources</button>
            </div>
            <!-- ajout jdb -->
            <div id="btns" class="btn-wrapper">
                <div id="count-items" class="overflowed counts"><span id="count-total" class="numbers">0</span> safe item(s)</div>
                <div id="selected-items" class="overflowed counts"><span id="count-selected" class="numbers">0</span> queued</div>
                <button id="btn-update" class="selection-disabled">update selection</button>
                <button id="btn-select" class="select"></button>
                <button id="btn-override" class="override-disable"></button>
                <span id="status-all" class="stat ready"></span>
            </div>
        </div>
        <div id="informations">
            <div id="status">
                <div>Please click one of the buttons to fetch the corresponding type of items</div>
            </div>
            <div id="table-header">
                <div data-ref="public">is_public</div>
                <div data-ref="title">oid. title</div>
                <div data-ref="identifier">dc:identifiers</div>
                <div data-ref="selected">selected</div>
                <div data-ref="status">status</div>
            </div>
        </div>
    </div>
    <div id="main">
        <div id="list"></div>
    </div>
{% endblock %}