/* ici */
:root{
    --header-height: 54px;
    --footer-height: 2rem;
    --metadata-height: var(--footer-height);
    --margin: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input, button,
textarea, select {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}
img {
    display: block;
    width: 100%;
}

summary {
    cursor: pointer;
}

/* TEMPLATE CREATE + EDIT + DETAIL */

/* display en deux colonnes */
.col_container {
    display: flex;
    align-items: flex-start;
}

.col_container > * {
    flex: 1;

    padding: var(--margin);
}

/* liste des ressources */
.api_list > ul > {
    margin: 0px;
}

.api_list > ul > li {
    display: flex;
    list-style: none;

    padding: var(--margin);
}
.api_list > ul > li:nth-child(even) {background: #EEE}
.api_list > ul > li:nth-child(odd) {}


.api_list > ul > li > div {
    flex: 1;
}

.api_list > ul > li .r_id {
    max-width: 60px;
}

.api_list > ul > li .r_title {
    
}
.api_list .r_title li {
    font-size: .8rem;
    color: royalblue; 
}

.api_list > ul > li .r_img {
    max-width: 200px;
}

.api_list > ul > li .r_img:empty {
    max-width: 0px;
}


#content > ul.list{
    background-color: transparent;
    margin: 0; padding: 0;
    margin-top: 1rem;
    display: grid;
    grid-gap: 1rem;
    list-style: none;
}
@media screen and (max-width: 500px){
    #content > ul.list{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (min-width: 501px){
    #content > ul.list{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width: 700px){
    #content > ul.list{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (min-width: 900px){
    #content > ul.list{
        grid-template-columns: repeat(4,1fr);
    }
}

#content > ul > li{
    background-color: white;
    padding: 1rem;
    box-shadow: 0 0 0 1px black;
}

.item ul, .header li {
    list-style: none;
    margin: 0; padding: 0;
}
.links{ 
    display: table;
    margin-top: 8px;
}
.inline > li{ display: inline-block; }
.inline > li > a{ display: inline-block; box-shadow: 0 0 0 1px blue; color: blue; background-color: white;  border-radius: 8px; padding: 4px; text-decoration: none; }
.inline > li > a:hover{  box-shadow: 0 0 0 1px red; color: red; }

.item li > span{
    color: firebrick;
    font-size: 0.7rem;
}
.item li > span:after{
    content: " :";
}

/*header*/
header{
    position: sticky;
    top: 0;
    z-index: 10;
    
    background-color: lightseagreen;
    color: white;
}
header nav { 
    display: flex;
    justify-content: space-between;
}
header nav ul {
    margin: var(--margin);

    list-style: none;
    display: flex;
    gap: var(--margin);
}

a:hover {
    box-shadow: 0 0 0 1px red;
    color: firebrick;
}
a {
    box-shadow: 0 0 0 1px blue;
    color: blue;
    background-color: white;
    border-radius: 8px;
    padding: 4px;
    text-decoration: none;
}

/* MESSAGES FLASH */

#flashes-container .flashes {
    margin: 0; padding: var(--margin);
    background-color: seagreen;
}


/* FORM */

form {
    padding: 10px;
}
form input {
    display: block;

    margin-bottom: 10px;
}
form input[type=text] {
    padding: 5px;
    border: 1px solid #bbb;
    border-radius: 4px;
}
input[type="submit"] {
    border: 0;
    box-shadow: 0 0 0 1px blue;
    color: blue;
    background-color: white;
    border-radius: 8px;
    padding: 4px;
    text-decoration: none;
}
input[type="submit"]:hover {
    cursor: pointer;
    box-shadow: 0 0 0 1px red;
    color: firebrick;
}