
/* TEMPLATE DETAIl */

div#content {
    padding: var(--margin);
}

details, details * {
    line-height: 14px !important;
}
details a {
    font-size: 12px;
    color: black !important;
}
details ul {
    margin: 0 !important;
}
details ul ul {
    margin-left: 10px !important;
}

/* FONT-FACE */

/* Problemata-Text-Regular */
@font-face {
    font-family: "Problemata-Text-Regular";
    src: 
        url("../fonts/Problemata-Text-Regular.woff2") format("woff2"),
        url("../fonts/Problemata-Text-Regular.woff") format("woff"),
        url("../fonts/Problemata-Text-Regular.otf") format("opentype");
    font-style: normal;
}

/* Problemata-Text-Italique */
@font-face {
    font-family: "Problemata-Text-Italique";
    src: 
        url("../fonts/ProblemataText-Italique.woff2") format("woff2"),
        url("../fonts/ProblemataText-Italique.woff") format("woff"),
        url("../fonts/ProblemataText-Italique.otf") format("opentype");
}

/* ProblemataSans-Regular */
@font-face {
    font-family: "ProblemataSans-Regular";
    src: 
        url("../fonts/ProblemataSans-Regular.woff2") format("woff2"),
        url("../fonts/ProblemataSans-Regular.woff") format("woff"),
        url("../fonts/ProblemataSans-Regular.otf") format("opentype");
    font-style: normal;
}

/* ProblemataSans-Italique */
@font-face {
    font-family: "ProblemataSans-Italique";
    src: 
        url("../fonts/ProblemataSans-Italique.woff2") format("woff2"),
        url("../fonts/ProblemataSans-Italique.woff") format("woff"),
        url("../fonts/ProblemataSans-Italique.otf") format("opentype");
    font-style: italic;
}

/* ProblemataSymboles */
@font-face {
    font-family: "ProblemataSymboles";
    /*src: url('fonts/ProblemataSymboles.eot');*/ /* IE9 Compat Modes */
    src: 
        url("../fonts/ProblemataSymboles.woff2") format("woff2"),
        url("../fonts/ProblemataSymboles.woff") format("woff"),
        url("../fonts/ProblemataSymboles.otf") format("opentype");
}

/* VARIABLES */

:root{
    --color-red-1:  #FF0000;
    --color-red-2:  #FFF2ED; /* hover */
    --color-red-3:  #D00000;
    
    --color-gris-1:         #F8F8F8;
    --color-gris-2:         #F4F4F4;
    --color-gris-2-5:       rgb(238,238,238);
    --color-gris-3:         #D9D9D9;
    --color-gris-4:         #808080;
    
    --color-noir-1:         #2B2B2B;

}


:root{
    --margin:                   16px;
    --margin-h:                 14px;
    --margin-w:                 16px;

    --margin-max:               128px;
    --unit:                     32px;

    --n-1-fs: 3.64rem;
    --n-1-lh: 3.5rem;
    --n-1-ls: -2.4px;

    --n0-fs: 1.82rem;
    --n0-lh: 2.06rem;
    --n0-ls: 0px;

    --n1-fs: 1.5rem;
    --n1-lh: 1.75rem;
    --n1-ls: 0px;

    --n2-fs: 1rem;
    --n2-lh: 1.38rem;

    --n3-fs: 0.81rem;
    --n3-lh: 1.06rem;

    --t0-fs: 1.97rem;
    --t0-lh: 2.10rem;
    --t0-ls: -0.15px;

    --t1-fs: 1.3rem;
    --t1-lh: 1.79rem;
    --t1-ls: -0.15px;

    --t2-fs: 0.75rem;
    --t2-lh: 1.63re;
    --t2-ls: -0.15px;
}

@media (min-width: 769px) {
    :root {
        --n0-fs: 3.06rem;
        --n0-lh: 3.25rem;
        --n0-ls: -0.5px;

        --n1-fs: 1.75rem;
        --n1-lh: 2.13rem;
        --n1-ls: -0.1px;

        --n3-fs: 0.75rem;
        --n3-lh: 1rem;

        --t0-fs: 2.28rem;
        --t0-lh: 2.55rem;
        --t0-ls: -0.15px;

        --t1-fs: 1.55rem;
        --t1-lh: 2.14rem;
        --t1-ls: -0.15px;

        --t2-fs: 0.81rem;
        --t2-lh: 1.88rem;
        --t2-ls: -0.15px;
    }
}


/* ARTICLE */

/* surcharge massive writer */

html {
  font-size: 14px;
}
article a, article a:hover{
    box-shadow: none;
    border-radius: 0px;
    padding: 0px;
}
#article-title * {
    font-family: "ProblemataSans-Regular";
    font-size: var(--t0-fs);
    line-height: var(--t0-lh);
    letter-spacing: var(--t0-ls);
}
#article-title em {
    font-family: "ProblemataSans-Italique";
}
article {
    font-family: "Problemata-Text-Regular";

    padding: 0 calc(var(--margin-w)*2);
    margin: auto;
    padding-bottom: calc(var(--unit)*4)!important;
}

/* hors surcharge */

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 100;
}
hr {
    margin-top: calc(var(--margin-h)*2);
}

article p:before {
    font-family: "ProblemataSans-Regular";
    font-size: var(--n3-fs);
    line-height: var(--t1-lh);
}


/* INDENTATION */

/* text indent des p qui suivent des p */
article p + p { text-indent: calc(var(--margin-w)*2.7); }
/* reset text indent des els en inline-block */
article a, article sup { text-indent: 0px; }



/* MISE EN PLACE COMPTEUR DES P */

article {
    counter-reset: p_counter;
}
article > p,
article section > p,
article blockquote > p {
    counter-increment: p_counter;
}
article > p:before,
article *:not(.unnumbered):not(li)  > p:before {
    content: counter(p_counter);
    text-indent: 0px;
}



/* POSITION COMPTEUR DES P */

:root { --p-counter-left: -20px; }

article > p,
article section > p,
article blockquote > p { position: relative; }

article > p:before,
article *:not(.unnumbered):not(li) > p:before {
    position: absolute; left: var(--p-counter-left);
}

/* cas special des p qui suivent des p */
article > p + p:before,
article *:not(.unnumbered):not(li) > p + p:before { 
    left: var(--p-counter-left);
}
/* cas special des blockquotes */
article blockquote p:before { 
    left: calc((var(--margin-w)*-4) + var(--p-counter-left)) !important;
}



/* APPELS DE NOTE + FIGURE */

article a[href^="#fig"],
article a.footnote-ref > sup {
    transform: translateY(-0px)!important;
    white-space: nowrap;
}
article a[href^="#fig"]::before { content: "["; margin-right: 0px; }
article a[href^="#fig"]::after { content: "]"; }
article a.footnote-ref > sup::before { content: "("; }
article a.footnote-ref > sup::after { content: ")"; }
article a.footnote-ref::before { display: none; }


/* MARGINS / PADDINGS */

article p {
    margin: 0;
}
article h2 {
    display: table;
    text-align: center;
    width: auto; max-width: 70%;
    
    margin: auto;
    
    margin-top: calc(var(--margin-h)*4);
    padding-bottom: calc(var(--margin-h)*0.75);
    border-bottom: 1px solid var(--color-noir-1);
    margin-bottom: calc(var(--margin-h)*1);
}
article h3 {
    margin-top: calc(var(--margin-h)*4);
    margin-bottom: calc(var(--margin-h)*1);
}
article blockquote,
article ul,
article ol {
    margin: var(--margin-h) 0;
}
article blockquote {
    margin: var(--margin-h) 0;
    margin-left: calc(var(--margin-w)*2.7); padding-left: calc(var(--margin-w)*1.3);

    /* -10 et -9 pr etre aligne sur hauteur de x */
    -webkit-box-shadow: -10px 0px 0px -9px var(--color-noir-1);
    box-shadow: -10px 0px 0px -9px var(--color-noir-1);
}
article ul {
    padding-left: calc(var(--margin-w)*4);
}
article hr {
    margin-top: calc(var(--margin-h)*11); margin-bottom: 0px;
    
    height: 1px; border: none;
    background: var(--color-noir-1);
}



/* LISTES */

article ol { list-style-position: inside; }

/* puce des ul */
article ul {
    list-style: none;
}
article ul > li { position: relative; }
article ul > li:before {
    content: "—";
    position: absolute; left: -40px;
}

/* cas special pr les listes avec des sauts de lignes en md */
article li > p { display: inline; }


/* CAS SPECIAUX */

/* class pr pas de compteurs p */
.unnumbered {}
/* class pr saut de ligne + reset indentation p */
.blank { padding-top: var(--margin-w); }


/* titres */
article h2, article h3 {
    font-size: var(--t0-fs);
    line-height: var(--t0-lh);
    letter-spacing: var(--t0-ls);
}
article h2 em, article h3 em {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
} 
article h2 { text-align: center; }
/* italique */
article h4, article h5, article h6,
article i, article em {
    font-family: "Problemata-Text-Italique";
    font-style: normal;
}
article p,
article > ul,
article li,
article em,
article ol,
article blockquote { 
    font-size: var(--t1-fs);
    line-height: var(--t1-lh);
    letter-spacing: var(--t1-ls);
}
article sup {
    font-size: 70%;
    display: inline-block;
    vertical-align: baseline;
    transform: translateY(calc((var(--margin-h)/3) * -1));
}
article sub {
    vertical-align: baseline;
    position: relative;
    top: 4px;
}
article a {
    color: var(--color-noir-1);
}
article a:hover {
    color: var(--color-red-1) !important;
}
article a::before {
    font-family: 'ProblemataSymboles';
    content: ">";
    margin-right: calc(var(--margin-w)/2);
    line-height: 1px;
}

/* appels de note + figure */
article a[href^="#fig"],
article a.footnote-ref > sup {
    font-family: 'ProblemataSymboles';
    font-size: var(--t2-fs);
    font-feature-settings: "kern" on, "liga" on, "calt" on, "salt", "ss01";
}

/* typo compteur des p */
article p:before {
    font-family: "ProblemataSans-Regular";
    font-size: var(--n3-fs);
}





/* ENTRETIEN */
:root{
    --dialog-indent: 60px;
}
.dialog:before, .dialog:after {
    display: none;
    content: url("../icons/problemata-asterisme.svg");
    /* content: "[.\a0.\a0]\A[.\a0.\a0]\a0\a0[.\a0.\a0]"; */
    
    /*
    font-family: "ProblemataSymboles";
    font-feature-settings: "kern" on, "liga" on, "calt" on, "salt", "ss01";
    white-space: pre-wrap;
    text-indent: 0px;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    */
    width: 58px;
    margin: 25px auto 30px auto;
}
p + .dialog:before, p + .dialog:after {
    display: block;
}

/* reset blockquote */
.dialog blockquote {
    margin: calc(var(--margin-h)/2) 0;
    margin-left: 0px; padding-left: 0px;
    -webkit-box-shadow: none; box-shadow: none;
}
.dialog blockquote p:before { 
    left: calc(var(--dialog-indent)*-1 + var(--p-counter-left)) !important;
}

.dialog .agent {
    font-family: "ProblemataSans-Regular";
    font-size: var(--n3-fs);
    font-weight: 100;
    line-height: var(--n3-lh);
    letter-spacing: var(--n2-ls);
}
.dialog .replica .agent {
    display: block;
    margin-left: var(--dialog-indent);
    text-indent: 0px;
}
.dialog .replica blockquote p {
    margin-left: var(--dialog-indent);
}
.dialog .replica blockquote p + p {
    text-indent: var(--dialog-indent);
}

/* nom premier agent */
.dialog .replica > p:first-of-type .agent {
    text-indent: var(--dialog-indent);
    margin-left: 0px;
}
/* replique premier agent */
.dialog .replica blockquote:first-of-type p {
    text-indent: var(--dialog-indent);
    margin-left: 0px;
}
.dialog blockquote:first-of-type p:before { 
    left: var(--p-counter-left) !important;
}

/* agent vide */
.dialog .agent:empty {
    position: relative;
    width: 121px;
    height: 14px;
    top: -2px;
    margin-left: var(--dialog-indent) !important;
}
.dialog .agent:empty:before {
    content : "";
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-bottom:1px solid var(--color-noir-1);
}



/* TABLE DES FIGURES */

#fig_table {
    overflow-y: scroll;
    position: sticky;
    top: var(--header-height);
    height: calc(100vh - var(--header-height) - var(--margin));
    padding: 
}

#fig_table {
    font-family: "Problemata-Text-Regular";
}
#fig_table em {
    font-style: normal;
    font-family: "Problemata-Text-Italique";
}
#fig_table strong {
    font-weight: normal;

    background-color: rgba(137,106,83,0.2);
}
#fig_table strong:before {
    font-family: monospace;
    color: white;
    content: "B";
    font-size: .9em; 
    background-color: black;
    padding: 0 2px;
}
