
/* TEMPLATE CREATE */

/* editor-toolbar fixée au scroll */

.editor-toolbar {
    position: sticky !important;
    top: 0px;
    z-index: 10;
    background: white;
}

.editor-toolbar button{ box-shadow: none; }


body, html{
	top: 0; left: 0;
	width: 100%; height: 100%;
	margin: 0; padding: 0;
}
ul, li{ margin: 0; padding: 0; list-style: none; }
input{}

.col_container {
    display: grid; grid-template-columns: repeat(6,1fr);
}

.col_container > * {
	padding: 0;
}

div.col:nth-child(1){
	background-color: lightpink;
	grid-column-start: 1; grid-column-end: 5;
	height: calc(100vh - var(--header-height) - var(--footer-height)*0.3)
}

#edit form {
	display: grid;
	padding:0;
}
#info{
	background-color: darkslategrey; color: white;
	grid-column-start: 1; grid-column-end: 7;
	display: grid; grid-template-columns: repeat(6,1fr);
}
#info input{
	grid-column-start: 2; grid-column-end: 7;
	margin: 0;
}
input[type="text"]{
	padding: var(--margin);
	outline: none; border: none;
	box-shadow: 0 0 0 1px black;
	font-size: 0.9rem;
}
label{ line-height: calc(var(--margin)*2); box-shadow: 0 0 0 1px grey; }
#create label {
	box-shadow: none;
}
h3{
	/*height: var(--header-height);*/
	padding: calc(var(--margin)/2);
	font-size: 0.9rem;
	background-color: black; color: white;
}
h3:before{
	content: " ";
	padding-left: var(--margin);
}
label{ padding: 0 var(--margin); }
form > div{ overflow-y: auto; }
#article{
	background-color: navy;
	height: calc(100vh - var(--header-height) - var(--footer-height)*4.2);
}
#article-title > h3, #article > h3{
	background-color: navy; color: white;
}
#table-of-figures{
	background-color: darkslateblue;
	height: calc(100vh - var(--header-height) - var(--footer-height)*4.2);
}
.col-left {
	grid-column-start: 1; grid-column-end: 4;
}
.col-right {
	grid-column-start: 4; grid-column-end: 7;
}
#table-of-figures > h3{
	background-color: darkslateblue; color: white;
}
.editor-statusbar{ color: white; }
.lines, .words, .cursor{ color: white; }
.lines:before, .words:before, .cursor:before{ font-weight: normal; color: rgba(255,255,255,0.6); }
#volet > h3{
	background-color: royalblue;
}

/* figures and omeka items */
div.col:nth-child(2){
	background-color: lightblue;
	height: calc(100vh - var(--header-height) - var(--footer-height)*0.3);
	grid-column-start: 5; grid-column-end: 7;
	overflow-y: auto;
}

/* footer */
footer{
	position: fixed;
	bottom: 0; left: 0;
	width: 100%; height: var(--footer-height);
	background-color: lightseagreen; color: white;
	/*font-variant-numeric: oldstyle-nums;*/
}
footer > #metadata{
	height: var(--metadata-height);
	line-height: var(--metadata-height);
}
footer > #metadata > ul{
	display: grid; grid-template-columns: repeat(3,1fr);
	height: var(--metadata-height);
	padding: 0 var(--margin); grid-gap: var(--margin);
}
footer> #metadata > ul > li > span{ color: rgba(255,255,255,0.6); }
footer> #metadata > ul > li > span:after{ content: " :"; }


/* JS elements */
.col-handler{
	float: right;
	background-color: gainsboro; color: black;
	box-shadow: 0 0 0 1px grey;
	text-align: center;
	width: 20px;
	display: none;
}
.col-handler-plus:before{
	content: "+"; /*←*/
}
.col-handler-minus:before{
	content: "-"; /*←*/
}

.toc-lvl-1{ padding-left: 4px; }
.toc-lvl-2{ padding-left: 8px; }
.toc-lvl-3{ padding-left: 12px; }
.toc-lvl-4{ padding-left: 16px; }
.toc-lvl-5{ padding-left: 20px; }
.toc-lvl-6{ padding-left: 24px; }


details{}
details > summary{
	padding: calc(var(--margin)/2);
	border-bottom: 1px solid black;
}
#pseudocode_list{
	background-color: white;
}
#omeka_resources_list{
	background-color: white;
}
#article_resources_list{
	background-color: white;
}

.CodeMirror .cm-spell-error{ background-color: transparent; }
.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word){
	background-color: transparent;
}

.cm-s-easymde .cm-header-1,
.cm-s-easymde .cm-header-2 {
	font-size: 125%;
	line-height: 125%;
}

body, html{ overflow: hidden; }


/* tplate create */

#articles_list ul {
	overflow-y: scroll;
	height: calc(100vh - 73px - 36px - 32px);
}