/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/*OAI*/
:root {
  --color-une-1: #2809E3;
  --color-une-2: #EDF3FF;
  --color-li-1: #199904;
  --color-li-2: #C6F5CE;
  --color-ar-1: #715AFF;
  --color-ar-2: #D9DFFF;
  --color-re-1: #808080;
  --color-re-2: #F4F4F4;
  --color-re-3: #FFFEE6;
  --color-re-4: #FAFF00;
  --color-au-1: #FF630B;
  --color-au-2: #FFDAD2;
  --color-red-1: #FF0000;
  --color-red-2: #FFF2ED;
  --color-red-3: #D00000;
  --color-gris-1: #F8F8F8;
  --color-gris-2: #F4F4F4;
  --color-gris-2-5: rgb(238,238,238);
  --color-gris-3: #D9D9D9;
  --color-gris-4: #808080;
  --color-noir-1: #2B2B2B;
}

* {
    font-family: sans-serif;
    font-size: 1rem;
}
a{
    text-decoration: none;
}
button{
    font-size: 0.8rem;
    min-height: 2rem;
    padding: 0 0.8rem;
    margin: 0;
    box-shadow: 0 0 0 1px blue;
    color: blue;
    background-color: white;
    border-radius: 8px;
    padding: 4px;
    text-decoration: none;
    border: 0;

    cursor: pointer;
}
ul{
    list-style: none;
}


ul li{}
ul li:nth-child(2n+1) {
    background-color: var(--color-gris-2-5);
}

/* ajout jdb */
header a {
  color: blue;
}
header li{
  color: black;
}
header span{
  color: red;
}
body{
    color: var(--color-noir-1);
}
#header{
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    background-color: var(--color-gris-3);
    border-bottom: 10px solid var(--color-noir-1);
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
#header > div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 0 0 0 1px black;
}
.btn-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.8rem;
    padding: 0.4rem 0.8rem;
}
#btns{
    /*display: none;*/
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.stat{
    min-width: 80px;
    text-align: center;
    font-family: monospace;
}
.match:before{     content: "uptodate";         color: blue; }
.ready:before{     content: "ready";        color: grey; }
.queued:before{    content: "queued";       color: magenta; }
.progress:before{  content: "progress";     color: orange; }
.fetched:before{  content: "fetched";      color: gold; }
.success:before{   content: "uptodate";         color: green; }
.error:before{     content: "error";        color: red; }

#list{
    padding-bottom: 120px;
}
#list a{
    box-shadow: none!important;
    background-color: transparent;
}
#list ul > li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
#list ul > li:hover{
    background-color: var(--color-red-2);
}
#list ul > li > span{
    min-height: 2rem;
    line-height: 2rem;
    padding: 0 0.8rem;
    width: 100%;
}
.overflowed{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*max-width: 40vw;*/
}
span[data-ispublic]:before{
    margin-right: 0.8rem;
}
span[data-ispublic="true"]:before{
    color: green;
    content: "●";
}
span[data-ispublic="false"]:before{
    content: "○";
    color: var(--color-gris-4);
}
ul li .wrap{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /*width: 100%;*/
}
.wrap input{
    height: 2rem;
    line-height: 2rem;
    cursor: pointer;
}
.counts{
    height: 100%;
    line-height: 2rem;
}
.numbers{
    color: orange;
}
.info{
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.info span{
    height: 2rem;
    line-height: 2rem;
    margin-right: 0.8rem;
}
.dc-actual{
    color: orange;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30vw;
}
.dc-actual-exist{
    color: red;
}
.dc-actual-exist:before{
    color: var(--color-gris-4);
    margin-right: 0.4rem;
    font-family: monospace;
}
.item-resource .dc-actual-exist:before{
    content: "(migrate first)";
}
.item:not(.item-resource) .dc-actual-exist:before{
    content: "(use caution)";
}
/*.dc-actual:before{
    color: black;
    content: "dc:identifier";
    margin-right: 0.8rem;
}*/
.dc-neo{
    color: green;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30vw;
}
.matched .dc-neo{
    color: blue;
}
.dc-neo:before{
    content: "→";
    margin-right: 0.4rem;
}

#count-selected{
    color: magenta;
}
.matched{
    opacity: 0.5;
    pointer-events: none;
}
.matched .dc-actual{
    display: none;
}
.matched .dc-neo:before{
    content: none;
    margin-right: 0;
}

.progressed{
    opacity: 0.75;
    pointer-events: none;
}

#list > ul{
    display: flex;
    flex-direction: column;
}
#list ul > li:not(.matched).populated{
    order: 3;
}
#list ul > li:not(.matched){
    order: 1;
}
#list ul > li.matched{
    order: 4;
}
#list ul > li:not(.matched):last-of-type{
    /*border-bottom: 10px solid blue;*/
}
li.biboed{
    background-color: lightyellow!important;
    order: 2!important;
}
li.biboed .dc-actual-exist:before{
    content: "(bibo:id exists)";
}
li.biboed.bibo_different .dc-neo:before{
    color: var(--color-gris-4);
    content: "(bibo:id exists)";
    margin-right: 0.4rem;
}
li.item-resource:not(.biboed) .dc-neo:before{
    color: var(--color-gris-4);
    content: "(bibo:id empty)";
    margin-right: 0.4rem;
}

#btn-select.select:before{
    content: "select all safe items";
}
#btn-select.unselect:before{
    content: "clear selection";
}

.selection-disabled{
    pointer-events: none;
    opacity: 0.6;
}
body.disabled #header button{
    pointer-events: none;
    opacity: 0.6;
}
body.disabled #list{
    pointer-events: none;
    opacity: 0.6;
}
#informations{
    background-color: white;
    justify-content: flex-start;
    flex-direction: column;
}
#informations > div{
    width: 100%;
}
#status{
    background-color: lightyellow;
}
#status > div{
    padding: 0.4rem 0.8rem;
    border-top: 1px solid var(--color-noir-1);
    margin-top: -1px;
}
#table-header{
    border-top: 10px solid var(--color-noir-1);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    display: none;
}
#table-header > div{}
#table-header > div[data-ref="public"]{
    padding: 0 0.8rem;
}

#list > li.item:not(.matched):not(.populated):last-of-type{
    /*background-color: var(--color-red-1);*/
}
li:not(.matched).populated .dc-neo{
    color: var(--color-red-1);
}
li:not(.matched).populated .match:before{     content: "warning";         color: red; }
li:not(.matched).populated .ready:before{     content: "warning";        color: red; }
li:not(.matched).populated .queued:before{    content: "queued"!important;       color: magenta; }
li:not(.matched).populated .progress:before{  content: "progress"!important;     color: orange; }
li:not(.matched).populated .fetched:before{  content: "fetched"!important;      color: gold; }
li:not(.matched).populated .success:before{   content: "success"!important;         color: green; }
li:not(.matched).populated .error:before{     content: "error"!important;        color: red; }

li:not(.matched).biboed .ready::before{ content: "ready"!important;   color: grey;}
li:not(.matched).biboed .queued::before{ content: "queued"!important;   color: magenta;}
li:not(.matched).biboed .progress:before{    content: "progress"!important;       color: orange; }
li:not(.matched).biboed .fetched:before{    content: "fetched"!important;       color: gold; }
li:not(.matched).biboed .success:before{    content: "uptodate"!important;       color: green; }
li:not(.matched).biboed .error:before{    content: "error"!important;       color: red; }

.biboed .dc-actual{
    color: orange;
}
.biboed .dc-neo{
    color: green!important;
}
.color-updated{     color: orange; }
.color-matched{     color: blue; }
.color-populated{   color: var(--color-red-1); }

li a:hover{
    color: var(--color-red-1);
}

@media screen and (max-width: 1000px) { 
    #header{}
    #header > div{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start!important;
    }
    .btn-wrapper{
        width: 100%;
        justify-content: center!important;
        align-items: center!important;
    }
    /*#btns{
        flex-direction: column;
        justify-content: center;
        align-items: center!important;       
    }*/
    #count-items{
        padding-left: 0.8rem;
    }
}

/*override mode*/
body[data-override="true"]{}
body[data-override="false"]{}
#list{}
body[data-override="false"] #btn-override:before{
    content: "override is disabled";
}
body[data-override="true"] #btn-override:before{
    content: "override is enabled";
    color: var(--color-red-1);
}
body[data-override="true"] #btn-override{
    color: var(--color-red-1);
    box-shadow: 0 0 0 1px var(--color-red-1);
}
body[data-override="false"] #btn-override{
    color: var(--color-li-1);
    box-shadow: 0 0 0 1px var(--color-li-1);
}
body[data-override="true"] #list li:not(.matched).populated input{
    pointer-events: all;
    opacity: 1;
}
body[data-override="false"] li:not(.matched).populated input{
    pointer-events: none;
    opacity: 0.3;
}
body[data-override="true"] li:not(.matched).populated .queued::before {
  content: "queued"!important;
  color: magenta!important;
}
body[data-override="true"] #btn-select.select::before{
    content: "select all items";
}
body[data-override="true"] #btn-select.select{
    color: var(--color-red-1);
    box-shadow: 0 0 0 1px var(--color-red-1);
}
body[data-override="true"] #btn-update{
    color: var(--color-red-1);
    box-shadow: 0 0 0 1px var(--color-red-1);
}
body[data-override="false"] li:not(.matched).populated.biboed input {
    pointer-events: all;
    opacity: 1;
}